/* Polices */
@font-face {
    font-family: "Koulen";
    src: local("Koulen"),
        url(../typo/Koulen.ttf) format(truetype);
}

@font-face {
    font-family: "Poppins";
    src: local("Poppins"),
        url(../typo/Poppins.ttf) format(truetype);
}

body {
    background-color: rgb(255, 255, 255);
}

h1 {
    font-family: Koulen;
}

h2 {
    font-family: Koulen;
    color: #182972;
}

h3 {
    font-family: Poppins;
    font-size: larger;
}

h4 {
    font-family: Koulen;
    font-size: x-large;
    color: #182972;
}

/* ************************************************* navbar****************************************************** */

.navbar {
    background-color: #182972;
    height: 100px;
    font-size: larger;
}

.navbar-brand {

    color: #ffffff;
    font-size: 24px;
    transition: 0.3s color;
}

/* espacement de la navbar */
.navbar-nav .nav-item {
    margin-left: 1%;
    margin-right: 1%;

}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #ffffff;
    font-family: Poppins;
    font-weight: 699;
    font-weight: bold;
    position: relative;

}

.nav-link:hover,
.nav-link.active {
    color: #6a89b4;
}

/* Logo  */
.logo {
    width: 80px; 
    height: 80px;
    transition: opacity 1s ease; 
    content: url('../img/logo.png');
  }
  
  .logo:hover {
    width: 90px; 
    height: 90px;
  }
  
/* Responsive */

@media (min-width: 991px) {

    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #ffffff;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before,
    .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }

}

/* ************************************************* PAGE EQUIPE *************************************************** */
/* pour les cartes des joueurs */
.card img {
    height: 100%;
    width: 100%;
}

/* pour la taille */
.max-width-50 {
    max-width: 50%;
    margin: auto;
}

/* *************************************************** PAGE D ACCUEIL************************************************ */

/* image de la page d'accueil*/
.jumbotron-custom {
    background: url('/webweek/img/dalle.png') no-repeat center center;
    background-size: cover;
    height: 120vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-shadow: 2px 2px 4px #182972;
    padding-top: 80px;
}

/* Style du conteneur de texte sur l'image de la page d'accueil */
.text-background {
    margin-top: 9%;
    text-align: left;
    max-width: 30%;
    position: absolute;
    left: 3.5%;
}

/* Style du titre sur l'image */
.text-background h1 {
    background-color: hsla(240, 62%, 36%, 0.82);
    padding: 0.5em 1em;
    border-radius: 0.25em;
    margin-bottom: 0.5em;
    display: inline-block;
    font-size: 2.5em;
}

/* Sous-titre (lead) */

.text-background .lead {
    font-size: larger;
    background-color: hsla(240, 62%, 36%, 0.82);
    padding: 0.5em 1em;
    border-radius: 0.25em;
    display: inline-block;

}


/* information*/
.icon {
    width: 4vw;
    color: #ffffff;
    padding: 0px;

}

.explication-titre {
    font-size: 26px;
    color: #ffffff;

}





#gris {
    color: #6a89b4;
}


.carousel-image {
    height: 50vh;
    width: 50vh;
}


.evenement1 {
    background-color: #c7d9f3;
}

.Avertissement {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    color: #182972;
}

.Gauche,
.Droite {
    display: inline-block;
    text-align: left;
    width: 49%;
    /* Ajustez la largeur en fonction de vos besoins */
}

#jeminscris {
    background-color: #182972;
    color: #ffffff;
    border: none;
    padding: 15px 70px;
    /* Augmente la taille du bouton */
    border-radius: 15px;
    font-family: Koulen;
    font-size: x-large;
}

#jeminscris:hover {
    background-color: #c7d9f3;
    color: #182972;
}

.deroulement {
    background-color: #c7d9f3;

/* carousell */
.carousel-item{
    height: 900px;
    width: 100%;
}
    
    
/* information*/
.icon {
    width: 40%;
    color: #182972;
    padding: 0px;
    
}
      
.explication-titre {
    font-size: 26px;
    color: #182972;
    
}
      
.explication-text {
    font-size: 18px;
    padding-top: 20px;
    color: #182972;
    margin-bottom: 5vh;
}
    
.container_horaires .horaires {
    text-align: center;
    color: #182972;
    font-family: Poppins;
}

/* Responsive */
@media (max-width: 768px) {
    .jumbotron-custom {
        margin-top: 60px;
        /* Marge supérieure plus petite */
        height: 40vh;
    }

    .text-background {
        left: 10%;
        /* Moins d'espace sur les côtés pour les petits écrans */
        transform: translate(-10%, -50%);
        width: 80%;
        /* Largeur plus grande pour le texte sur les petits écrans */
    }

    .text-background h1,
    .text-background .lead {
        display: block;
        padding: 0.5em;
        font-size: smaller;
        /* Police plus petite sur les petits écrans */
    }
}

/* ********************************************* PAGE ADMIN ********************************************************* */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-primary: rgb(72, 38, 210);
    --color-secondary: #232836;
    --color-third: #ececec;

    --color-white: #fff;

    --text-color: #222;
    --body-color: #d3f3db;

    --main-transition: all .3s ease;
}

* {

    font-family: 'Poppins', sans-serif;
}

.containerform {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
    background-color: #fbfbfb;
}

.form {
    position: absolute;
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.226);
    transition: all .6s ease-in;
}

.forms.show__signup .form.connexion {
    opacity: 0;
    pointer-events: none;
}

header {
    font-size: 28px;
    font-weight: 600;
    color: #232836;
    text-align: center;
}

form {
    margin-top: 30px;
}

.form .field {
    position: relative;
    height: 45px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
}

.field input,
.field button {
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 6px;
}

.field input {
    outline: none;
    font-size: 16px;
    font-weight: 400;
    padding: 0 15px;
    border: 1px solid #cacaca;
    transition: var(--main-transition);
}

.field input:focus {
    border-bottom-width: 2px;
    border-bottom-color: var(--color-primary);
}

.eye__icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #8b8b8b;
    cursor: pointer;
    padding: 5px;
}

.field button {
    color: var(--color-third);
    background-color: var(--color-primary);
    text-transform: capitalize;
    cursor: pointer;
    transition: var(--main-transition);
}

.field button:hover {
    background-color: #966cde;
}

.form__liens {
    margin-top: 10px;
    text-align: center;
}

/* Responsive  */
@media screen and (max-width:400px) {
    .form {
        padding: 15px 10px;
    }
}



.carousel-image {
    height: 50vh;
    width: 50vh;
}

/* carousell */
.carousel-item {
    height: 900px;
    width: 100%;
}

/* information*/
.icon {
    width: 40%;
    color: #182972;
    padding: 0px;

}

.explication-titre {
    font-size: 26px;
    color: #182972;

}

.container_horaires .horaires {
    text-align: center;
    color: #182972;
    font-family: Poppins;
}



/* *********************************PAGE INSCRIPTION****************************************** */
  /* les cartes */
  #itamsection {
    background-color: #f8f9fa;
    padding: 40px 0;
}

.itam {
    color: #00175E;
}

#itamsection .card {
    margin-top: 90px;
    border-radius: 10px;
}

/* CALL TO ACTION PROGRAMME */
.info_programme {
    text-align: center;
    padding: 25px;
}

.button_inscription {
    width: 300px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #223C7E;
    color: #FFF;
    font-family: Koulen;
    font-size: 25px;
    margin-top: 1%;
    font-family: "Koulen";
}

.button_inscription:hover {
    background: #052175;
    color: #FFF;
}

/* Formulaire d'inscription */
.formulaire_insc {
    background-color: #A9CAFD;
    text-align: center;
    padding: 3%;
}

.formulaire_insc h1 {
    font-family: "Koulen";
}

.form-group {
    background-color: #3D5695;
    border-radius: 35px;
    margin-top: 15px;
    max-width: 800px;
    color: #FFF;
    font-size: 20px;
}

.form-group input {
    background-color: #3D5695;
    border: none;
    height: 45px;
}

.form-group input::placeholder {
    color: #ffffff;
    text-align: center;
    opacity: 1;
    font-size: 20px;
}

.btn-inscription {
    width: 300px;
    height: 50px;
    background-color: #00175E;
    border: none;
    border-radius: 35px;
    margin-top: 2%;
    color: #FFF;
    padding-left: 1%;
    padding-right: 1%;
    font-size: 25px;
    font-family: "Koulen";
    font-size: 25px;
    height: 50px;
    width: 300px;
}

.btn-inscription:hover {
    background-color: #052175;
    color: #FFF;
}

/* **************************************** PAGE PARTENAIRES ******************************************************* */


.titre_partenaire{
    color: #FFF;
}

.image-arrondie {
    border-radius: 80px 0px 80px 0px;
    margin-top: 2vh;
    object-fit: contain;
    width: 100%;
    height: 200px;
    background-color: #FFF;
  }

  .page_partenaire{
    background-color: #00175E;
  }

  .page_partenaire {
    background-color: #00175E;
    padding: 0 15px; 
}

.galerie {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
    justify-content: center; 
}

/* **************************************** PAGE ADMIN ******************************************************* */

.col-md-6 {
    flex: 0 0 calc(50% - 10px); 
    max-width: calc(50% - 10px); 
    margin: 0;
}

.card-partner {
    perspective: 1000px;
    margin-bottom: 10px; 
}

.card-partner-inner {
    width: 100%;
    height: 200px; 
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card-partner-front, .card-partner-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 80px 0px 80px 0px;
    overflow: hidden;
}

.card-partner-back {
    background: #FFF; 
    transform: rotateY(180deg);
    color: #0056b3;
    padding: 25px; 
    box-sizing: border-box; 
}

.card-partner:hover .card-partner-inner {
    transform: rotateY(180deg);
}

.card-partner-back h3,
.card-partner-back p {
    margin: 0;
    padding: 5px 0;
    font-size: 1em; 
}



/* **************************************** PAGE ADMIN / CONNEXION ******************************************************* */


/* Styles pour les en-têtes d'administration */
.admin-heading {
    margin-top: 200;
    font-family: Koulen, sans-serif;
    color: #182972;
    text-align: center;
    margin-bottom: 20px;
}

/* Styles pour les formulaires d'administration */
.admin-form {
    margin: 20px auto;
    width: 80%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

/* Styles pour les labels dans les formulaires d'administration */
.admin-form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

/* Styles pour les fieldsets et legends dans les formulaires d'administration */
.admin-form fieldset {
    border: 1px solid #ccc;
    margin-top: 20px;
    padding: 10px;
}

.admin-form legend {
    font-weight: bold;
    padding: 5px;
}

/* Styles pour les boutons d'administration */
.admin-form input[type=submit],
.admin-btn-logout {
    background-color: #182972;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.admin-form input[type=submit]:hover,
.admin-btn-logout:hover {
    background-color: #0f1b5a;
}

/* Styles pour les sélecteurs et checkboxes dans les formulaires d'administration */
.admin-form select,
.admin-form input[type=number] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.admin-form input[type=checkbox] {
    margin-right: 5px;
}

/* **************************************** PAGE ADMIN ******************************************************* */

.php {
    /* div qui sert a mettre de l'espace entre la navbar et le contenus */
    margin-top: 15vh;
    margin-left: 10vh;
    margin-right: 10vh
}

.espace_navbar{ /* div qui sert a mettre de l'espace entre la navbar et le contenus */
    margin-top: 15vh;
    margin-left: 10vh;
    margin-right: 10vh
}


/* **************************************** PAGE tarif carte ******************************************************* */


 /* Styles personnalisés pour la page de tarifs */

.tarif {
    background-color: #f8f9fa;
    padding: 20px;
}

/* Styles pour les cartes */
.card-custom {
    border-radius: 15px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
    background-color: #e9ecef;
    width: 20rem; 
    margin: 0 auto; /* Centrage de la carte */
}

.card-custom:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-header-custom {
    background-color: hsla(240, 62%, 36%, 0.82);
    color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 10px 15px;
    font-size: 1.25em;
    font-weight: 700;
    text-align: center;
}

.card-body-custom {
    padding: 20px; 
}

/* Styles pour le texte des tarifs et des tranches d'âge */
.tarif-text {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 15px;
}

.tranche-age-text {
    margin-bottom: 25px;
    font-size: 1.25em;
}

/* Styles pour les boutons */
.btn-custom {
    width: 65%;
    margin: 0 auto; /* Centrage du bouton */
    display: block;
    background-color: rgb(72, 38, 210);
    color: white;
    font-size: 1em;
    padding: 10px 25px;
    border-radius: 8px;
    transition: all 0.2s;
}

.btn-custom:hover {
    background-color: hsla(240, 62%, 36%, 0.95);
    color: white;
}

/* Responsive design avec Bootstrap */
@media (max-width: 1008px) {
    .card-custom {
        width: 70%; /* Pleine largeur sur les petits écrans */
    }

    .btn-custom {
        width: 50%; /* Largeur plus large pour le bouton sur les petits écrans */
    }
}

.espacetarif{
    margin-top: 20px;
  
}
/* **************************************** pour le carousel ******************************************************* */

.carousel-caption {
    border-radius: 200px;
    margin-bottom: 20px;
    background-color: hsla(240, 62%, 36%, 0.62);
    color: white;
    
    border-radius: 50px;

}

.carousel-caption h3 {
    font-size: 1.5em;
}

.carousel-caption p {
    font-size: 1em;
}

.carousel-control-prev, .carousel-control-next {
    background-color: hsla(240, 62%, 36%);
    border-radius: 50%;
    width: 60px; /* Exemple de taille de bouton */
    height: 60px;  /* Exemple de taille de bouton */
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
}

.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-size: 20px; /* Exemple de taille d'icône */
    background-repeat: no-repeat;
    background-position: center;
}

